@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 120%;
  @include mq(768px) {
    font-size: 150%;
  }
}

body {
  font-family: 'Lexend Deca', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: lightblue;
  background: linear-gradient(
    180deg,
    rgba(223, 254, 255, 1) 0%,
    rgba(173, 228, 230, 1) 100%
  );
}

.header {
  margin: 8px 0;

  text-align: right;
  font-size: 0.9rem;
  text-shadow: 1px 1px 1px gray;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
