// SCSS VARIABLES
$dark-grey: #262525;
$box-shadow: 1px 1px 3px $dark-grey;
$text-background: #f0fbdb;
$border-default: 1px solid black;

// MIXINS
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

@mixin text-shadow($x: 1px, $y: 1px, $blur: 2px, $color: black) {
  text-shadow: $x $y $blur $color;
}

// Start of SHARED CLASSES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 120%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
}

.display {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-end;
  padding: 4px;
  // background-color: lightyellow;
}
// End of SHARED CLASSES
.calculator-body {
  padding: 5px;
  background-color: lightgray;
  width: 90vw;
  max-width: 300px;
  height: auto;
  // margin: auto;
  border: 1px solid black;
  border-radius: 8px;
}

// TODO: choose fonts for display
.display-container {
  text-align: right;
  border-radius: 8px;
  border: solid;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Lexend Deca', sans-serif;

  hr {
    margin: auto;
    width: 95%;
    color: lightgray;
  }
}

.main-display {
  // background-color: lightblue;
  height: 40px;
  font-size: 0.95rem;
}

.formula-container {
  margin: 0 5px;
}

.formula-display {
  // background-color: lightgreen;
  min-height: 35px;
  font-size: 0.7rem;
  padding: 5px 0;
}

.keypad {
  // background-color: lightyellow;
  width: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

button {
  /* general buttons styling to provide consistency between browsers */
  width: 48px;
  height: 48px;
  display: inline-block;
  // margin: 3px;
  margin-bottom: 25px;
  padding: calculateEm(4px);

  border: none;
  border-radius: 4px;
  box-shadow: $box-shadow;
  background: $dark-grey;

  color: #ffffff;
  font-family: inherit;
  // font-size: calculateRem(15px);
  font-size: calc(15 / 16 * 1rem);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  @include text-shadow();

  cursor: pointer;
  &:focus, &:hover {
    outline-style: none;

  }
  &:hover {
    // background-color: #fada54;
    border: 2px solid #ff8718;
  }
  &:focus {
    // box-shadow: 0 0 0 .2rem rgb(38,143,255);
    border: 2px solid #ff8718;
  }
  &:active {
    transform: scale(0.93);
    background-color: #fada54;
  }
}

.red-btn {
  background-color: red;
}

.green-btn {
  background-color: green;
}

.equals {
  width: 100px;
}
