// MIXINS
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

// Start of SHARED CLASSES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 120%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  cursor: pointer;
}

.display {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-end;
  padding: 4px;
  // background-color: lightyellow;
}
// End of SHARED CLASSES
.calculator-body {
  padding: 5px;
  background-color: lightgray;
  width: 90vw;
  max-width: 300px;
  min-height: 500px;
  // margin: auto;
  border: 1px solid black;
  border-radius: 8px;
}


// TODO: add scroll to formula display to prevent overflow
.display-container {
  text-align: right;
  border-radius: 8px;
  border: solid;
  background-color: lightyellow;

  hr {
    margin: auto;
    width: 90%;
  }
}

.formula-display {
  background-color: lightgreen;
  height: 40px;
  font-size: 0.75rem;
}

.main-display {
  background-color: lightblue;
  height: 50px;
  font-size: 1.1rem;
}

.keypad {
  background-color: lightblue;
  width: 250px;
  margin: auto;
}

button {
  width: 50px;
  height: 50px;
  // border-radius: 5px;
}

.equals {
  width: 100px
}
